.Group {
    border: 0;
    background: #E27974;
    height: 100vh;
}

.logo {
    display: block;
    margin: 20px auto;
    justify-content: center;
    background: #E27974;
  }

.p {
    display: flex;
    color: white;
    font-family: "Myriad Pro";
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.Button {
    color: #E27974;
    font-family: "Myriad Pro";
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 500px;
}