
.Group {
    border: 0;
    background: #E27974;
    background-size: contain;
    justify-content: center; 
    height: 100vh;
}

.logo {
    display: block;
    margin: 20px auto;
    justify-content: center;
    background: #E27974;
  }


.p {
    display: flex;
    margin: 20px;
    color: white;
    font-family: "Myriad Pro";
    justify-content: center;
    align-items: center;
    background: #E27974;
}

.Button {
    color: #E27974;
    font-family: "Myriad Pro";
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 500px;
}

.Button2 {
    color: #ffffff;
    font-family: "Myriad Pro";
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    background-color: #3B3646;
    border-radius: 0px;
    border-block-color: #000000;
}

.HorizontalScroll {
    overflow: hidden;
    overflow-x: scroll;
}
